 <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/postTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!Information to handle single post>

<div class="single-post" data-index="{{index}}">
  <div class="single-post-contents">
    <div class="single-post-title-container">
      <h2>{{title}}</h2>
    </div>
    <div class="single-post-body-container">
      <p>{{minBody}}</p>
    </div>
  </div>
</div>

<button type="button" class ="pres-fill-button" id="pres-fill" title="Removes/Fulfills Presciption when clicked"><p>Fulfill Prescription</p></dp></button>

<button type="button" class ="back-button" id="back-btn" title="Back to Home Page"><p>Back</p></button>




